* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
} 

a {
  color: red;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.inline-header {
  display: inline;
}

.resume-link {
  margin-right: 20px;
}

.theme-toggle {
  cursor: pointer;
}

.theme-toggle img {
  width: 25px;
  height: 25px;
}

h1, h2, h3 {
  font-family: "Typewriter", sans-serif;
}

main {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  padding: 2rem;
} 

.left-section {
  position: sticky; 
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: auto;
  gap: 2rem;
}

.project-card {
  border-radius: 20px;
  border-style: solid;
  overflow: hidden;
  padding: 1rem;
}

.project-card .video {
  display: none;
}

.project-card .image img, .project-card .video video {
  width: 100%;
  border-top-right-radius: 10px; 
  border-top-left-radius: 10px;
}

.project-card:hover .image {
  display: none;
}

.project-card:hover .video {
  display: block;
  width: 100%;
}

.data-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.data-tags p {
  border-style: solid;
  padding: 4px 8px;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }

  .left-section {
    position: relative;
    width: 100%;
  }

  .project-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}